h1, p, label {
    text-align: center;
    font-family: Tahoma, sans-serif;
    color: rgb(240, 240, 255);
}

body {
    background: 
    linear-gradient(rgba(90,90,110,0.95), rgba(90,90,110,0.95)), /* Tint layer */
    url('https://wallpapercave.com/wp/0y7TvY5.jpg') no-repeat center center/cover;  /* Background image */

/* Ensure image fills the viewport */
background-size: cover;
background-attachment: fixed;
display: inline-block;
padding-bottom: 0px;
display: flex;
flex-direction: column;
align-items:center;
}

label, input {
    color: rgb(240,240,255);
    margin-bottom: 15px;
    display: block;
    align-items: center;
}

input, textarea {
    color: black;
    background-color: white;
}

.checkbox1-inputs, .checkbox2-inputs, .text-inputs {
    border-color: rgb(240,240,255);
    background-color: rgba(100,100,155,0.1);
    margin-bottom: 20px;
    width: 300px;
    padding: 15px;
    border: 1px solid white;
    display: inline-block;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.checkbox1-inputs input[type="radio"], 
.checkbox1-inputs input[type="checkbox"],
.checkbox2-inputs input[type="radio"], 
.checkbox2-inputs input[type="checkbox"] {
    margin-right: 10px; /* Adds spacing between the checkbox/radio button and the text */
}

.checkbox1-inputs label, .checkbox2-inputs label {
    display: block;
}
.checkbox1-inputs label input, .checkbox2-inputs label input {
    display: inline;
}